<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
<p><%= if @owner.countdown < 50 then flash[:alert] = 'My birthday is soon.' end %> </p>